<ng-include src="'templates/login.tpl.html'"></ng-include>
<div class="container-fluid" ng-if="userState.logged">
    <div class="row">
        <div class="col-sm-4">
            <h2>Room list</h2>
            <ul class="list-group" ng-if="!chatModel.isFetchedDisco">
                <li class="list-group-item">
                    <h4 class="text-center">Fetching all room at first time</h4>
                    <chasing-dots-spinner></chasing-dots-spinner>
                </li>
            </ul>
            <ul class="list-group" ng-if="chatModel.isFetchedDisco">
                <li class="list-group-item">
                    <button class="btn btn-primary" ng-click="fetchHistoryAllRooms()">Fetch all history</button>
                </li>

                <li style="cursor:pointer;" class="list-group-item" ng-click="setCurrentRoomChat(room)"
                    ng-repeat="room in roomList">
                    <span class="badge">{{chatModel.chatLogs[room].length}}</span>
                    {{room}}
                </li>

            </ul>

        </div>
        <div class="col-sm-8">
            <div class="chat" ng-if="!message.to">
                <div class="chat-header clearfix">
                    <img src="assets/images/logo.png" alt="avatar"/>
                </div>
                <div class="chat-history" ng-if="!chatModel.isFetchedHistory ">
                    <h4 class="text-center">Fetching all history at first time</h4>
                    <chasing-dots-spinner></chasing-dots-spinner>
                </div>
            </div>

            <div class="chat" ng-if="message.to">
                <!-- start chat-header -->
                <div class="chat-header clearfix">
                    <img src="assets/images/acnes.jpg" alt="avatar"/>

                    <div class="chat-about">
                        <div class="chat-with">Chat in {{message.to}}</div>
                        <div class="chat-num-messages">already {{chatModel.chatLogs[message.to].length}} messages</div>
                    </div>
                    <i class="fa fa-star"></i>
                </div>
                <!-- end chat-header -->

                <!--start chat-history -->
                <ul class="chat-history" id="chat-history" du-scroll-container>
                    <li ng-repeat="chat in chatModel.chatLogs[message.to]"
                        ng-class="{'clearfix' : chat.to.bare!=message.from}">
                        <imroom chat="chat" local-user="message.from" embed-options="embedOptions"></imroom>
                    </li>

                    <li id="bottom">
                        <div ng-if="userState.chatState=='composing'">
                            {{userState.message}}
                            <img src="assets/icons/typing.gif">
                        </div>
                    </li>
                </ul>
                <!--end chat-history -->

                <div class="chat-message clearfix">
                    <chatbtn xmpp-client="xmppClient" send-message="sendMessage()"
                             message="message"></chatbtn>
                </div>


            </div>
        </div>
    </div>
</div>