<div class="row">
    <a class="btn btn-default" ui-sref='p2p' role="button">
        Peer to Peer
        <img class="img-responsive" src="assets/images/p2p.jpg">
    </a>
    <a class="btn btn-default" ui-sref="room" role="button">
        Room
        <img class="img-responsive" src="assets/images/room.png">
    </a>
</div>