<ng-include src="'templates/login.tpl.html'"></ng-include>
<div class="container-fluid" ng-if="userState.logged">
    <div class="row">
        <div class="col-xs-4">
            <ul class="list-group" ng-if="!chatModel.isFetchedRoster">
                <li class="list-group-item">
                    <h4 class="text-center">Fetching all users at first time</h4>
                    <chasing-dots-spinner></chasing-dots-spinner>
                </li>
            </ul>
            <ul class="list-group" ng-if="chatModel.isFetchedRoster">
                <li class="list-group-item search">
                    <div class="input-group">
                        <input class="form-control" aria-label="Text input with multiple buttons" placeholder="search"
                               ng-model="friendSearching">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" aria-label="Help">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>

                </li>
                <li class="list-group-item">
                    <button class="btn btn-primary" ng-click="fetchHistoryAllRosters()">Fetch all history</button>
                </li>
                <li class="list-group-item">----friend list-----</li>
                <li style="cursor:pointer;" class="list-group-item" ng-click="setCurrentRoster(roster)"
                    ng-repeat="roster in chatModel.rosters|filter:friendSearching">
                    <span class="badge">{{chatModel.chatLogs[roster.jid.bare].length}}</span>
                    <!--<img src="assets/images/acnes.jpg" alt="avatar"/>-->
                    <div class="about" ng-if="roster.subscription!='none'">
                        <p class="name" ng-bind="roster.jid.local"></p>

                        <p class="status" ng-if="roster.presence.type== 'available'">
                            <i class="fa fa-circle online"></i> online
                        </p>
                        <p class="status" ng-if="roster.presence.type!= 'available'">
                            <i class="fa fa-circle"></i> offline
                        </p>

                        <a ng-if="!isDemo" class="status"
                           ng-click="removeRosterItem(roster.jid.bare)">
                            <i class="fa fa-user-times"></i> unfriend
                        </a>

                        <!--<div class="status" ng-click="block(roster.jid.bare)">-->
                        <!--<i class="fa fa-ban"></i> block-->
                        <!--</div>-->
                        <!--<div class="status" ng-click="unblock(roster.jid.bare)">-->
                        <!--<i class="fa fa-ban"></i> unblock-->
                        <!--</div>-->

                    </div>
                    <div class="about" ng-if="roster.subscription=='none'">
                        <p class="name" ng-bind="roster.jid.local"></p>

                        <p class="status">
                            <i class="fa fa-circle"></i> request pending
                        </p>

                        <a class="status" ng-click="subscribe(roster.jid.bare)">
                            <i class=" fa fa-share"></i> resend request
                        </a>

                        <a class="status" ng-click="removeRosterItem(roster.jid.bare)">
                            <i class="fa fa-user-times"></i> remove request
                        </a>
                    </div>
                </li>

                <li class="list-group-item">----pending list-----</li>
                <li class="list-group-item"
                    ng-repeat="jid in chatModel.requestSubscriptions|filter:friendSearching">
                    <!--<img src="assets/images/acnes.jpg" alt="avatar"/>-->
                    <div class="about">
                        <p class="name" ng-bind="jid.from.local"></p>

                        <a class="status" ng-click="acceptSubscription(jid.from.bare)">
                            <i class="fa fa-check"></i> accept
                        </a>
                        <a class="status" ng-click="denySubscription(jid.from.bare)">
                            <i class="fa fa-times"></i> deny
                        </a>

                        <!--<div class="status" ng-click="block(jid.from.bare)">-->
                        <!--<i class="fa fa-ban"></i> block-->
                        <!--</div>-->
                    </div>
                </li>

            </ul>

            <div class="people-list">
                <div class="col-sm-12">Request friend</div>
                <div class="col-sm-12">
                    <form ng-submit="subscribe(jidFriend)">
                        <div class="input-group">
                            <input type="text"
                                   class="form-control input-sm"
                                   ng-model="jidFriend"
                                   placeholder="Type jid to add friend"/>
                            <span class="input-group-btn">

                                                    <button class="btn btn-warning btn-sm">
                                                        <fa name="paper-plane-o"
                                                            alt="TEXT-ALTERNATIVE"
                                                            size="1-5|large"
                                                            flip="horizontal|vertical"
                                                            rotate="90|180|270"
                                                            spin
                                                            border
                                                            list
                                                        ></fa>

                                                    </button>
                                                </span>
                        </div>
                    </form>
                </div>
            </div>


            <div class="people-list" ng-if="!isDemo">
                <div class="col-sm-12">Block JID</div>
                <div class="col-sm-12">
                    <form ng-submit="block(jidFriend)">
                        <div class="input-group">
                            <input
                                    type="text"
                                    class="form-control input-sm"
                                    ng-model="jidFriend"
                                    placeholder="Type jid to unblock"/>
                            <span class="input-group-btn">

                                                    <button class="btn btn-warning btn-sm">
                                                        <fa name="paper-plane-o"
                                                            alt="TEXT-ALTERNATIVE"
                                                            size="1-5|large"
                                                            flip="horizontal|vertical"
                                                            rotate="90|180|270"
                                                            spin
                                                            border
                                                            list
                                                        ></fa>

                                                    </button>
                                                </span>
                        </div>
                    </form>
                </div>
                <hr/>
            </div>


            <div class="people-list" ng-if="!isDemo">
                <div class="col-sm-12">Unblock JID</div>
                <div class="col-sm-12">
                    <form ng-submit="unblock(jidFriend)">
                        <div class="input-group">
                            <input
                                    type="text"
                                    class="form-control input-sm"
                                    ng-model="jidFriend"
                                    placeholder="Type jid to unblock"/>
                            <span class="input-group-btn">

                                                    <button class="btn btn-warning btn-sm">
                                                        <fa name="paper-plane-o"
                                                            alt="TEXT-ALTERNATIVE"
                                                            size="1-5|large"
                                                            flip="horizontal|vertical"
                                                            rotate="90|180|270"
                                                            spin
                                                            border
                                                            list
                                                        ></fa>

                                                    </button>
                                                </span>
                        </div>
                    </form>
                </div>
                <hr/>
            </div>

        </div>
        <div class="col-xs-8">
            <div class="chat" ng-if="!message.to">
                <div class="chat-header clearfix">
                    <img src="assets/images/logo.png" alt="avatar"/>
                </div>
                <div class="chat-history" ng-if="!chatModel.isFetchedHistory ">
                    <h4 class="text-center">Fetching all history at first time</h4>
                    <chasing-dots-spinner></chasing-dots-spinner>
                </div>
            </div>
            <div class="chat" ng-if="message.to">
                <div class="chat-header clearfix">
                    <img src="assets/images/acnes.jpg" alt="avatar"/>

                    <div class="chat-about">
                        <div class="chat-with">Chat with {{message.roster.jid.local}}</div>
                        <div class="chat-num-messages">already {{chatModel.chatLogs[message.roster.jid.bare].length}}
                            messages
                        </div>
                    </div>
                    <i class="fa fa-star"></i>
                </div> <!-- end chat-header -->

                <ul class="chat-history" id="chat-history" du-scroll-container>
                    <li ng-repeat="chat in chatModel.chatLogs[message.roster.jid.bare] "
                        ng-class="{'clearfix' : chat.from.bare!=message.to}">
                        <imp2p chat="chat" local-user="message.from" embed-options="embedOptions"></imp2p>
                    </li>


                    <li id="bottom">
                        <div ng-if="userState.chatState=='composing'">
                            <img src="assets/icons/typing.gif">
                        </div>
                    </li>

                </ul>
                <!-- end chat-history -->

                <div class="chat-message clearfix">

                    <chatbtn xmpp-client="xmppClient" send-message="sendMessage()"
                             message="message"></chatbtn>
                </div>
                <!-- end chat-message -->

            </div> <!-- end chat -->
        </div>
    </div>
</div>


